crates-tauri/yaak-app/vendored/**/* linguist-generated=true
crates-tauri/yaak-app/gen/schemas/**/* linguist-generated=true
**/bindings/* linguist-generated=true
crates/yaak-templates/pkg/* linguist-generated=true

# Ensure consistent line endings for test files that check exact content
crates/yaak-http/tests/test.txt text eol=lf
