@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply w-full h-full overflow-hidden text-text bg-surface;
  }

  :root {
    /* Must default these variables or the default will break */
    --font-family-interface: "";
    --font-family-editor: "";
  }

  /* Never show ligatures */
  :root {
    font-variant-ligatures: none;
  }

  /* The following fixes weird font rendering issues on Linux */
  html[data-platform="linux"] {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  ::selection {
    @apply bg-selection;
  }

  /* Disable user selection to make it more "app-like" */
  :not(a),
  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    @apply select-none cursor-default;
  }

  input,
  textarea {
    &::placeholder {
      @apply text-placeholder;
    }
  }

  a,
  a[href] * {
    @apply cursor-pointer !important;
  }

  table th {
    @apply text-left;
  }

  :not(iframe) {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-corner {
      @apply w-[8px] h-[8px] bg-transparent;
    }

    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-text-subtlest rounded-[4px] opacity-20;
    }

    &::-webkit-scrollbar-thumb:hover {
      @apply opacity-40 !important;
    }
  }

  .hide-scrollbars {
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar {
      @apply hidden !important;
    }
  }

  .rtl {
    direction: rtl;
  }

  :root {
    color-scheme: light dark;
    --transition-duration: 100ms ease-in-out;
    --color-white: 255 100% 100%;
    --color-black: 255 0% 0%;
  }
}
